@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@font-face {
  font-family: "clash";
  src: url(./asset/font/ClashDisplay-Variable.ttf);
}
* {
  font-family: "clash";
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
nav {
  padding: 10px 0;
}
nav .navbar-logo {
  width: 20%;
}

nav .navbar-logo img {
  width: 100%;
}
/* media query */
@media screen and (max-width: 600px) {
  .project-icons {
    display: block !important;
  }
}
/* hero section */
.hero-section {
  background-color: #ed8569;
  border-radius: 30px;
  width: 98%;
  margin: 0 auto;
  overflow: hidden;
}
.hero-section h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 62.86px;
  text-align: left;
  color: white;
  padding-top: 140px;
}
.hero-section p {
  font-family: Open Sauce One;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: white;
  overflow: hidden;
}
/* timer */
.hero-timer {
  background-color: white;
  border-radius: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.hero-timer h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: black;
  text-transform: capitalize;
  padding-top: 20px;
  padding-left: 30px;
  margin: 0;
}
.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;

  padding-bottom: 20px;
}

.title {
  padding-top: 20px;
  color: black;
  text-align: center;
  font-size: 2.5rem;
  display: none;
}

.col {
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  color: black;
}

.col div {
  width: 250px;
  text-align: center;
}

input {
  width: 80%;
  background-color: #ed8569;
  border-color: transparent;
  border-radius: 5px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  color: white;
}
/* hero-imagesSection */

.hero-imagesSection .hero-image1 {
  width: 30%;
  position: relative;
  top: 100px;
  z-index: 1;
}
.hero-imagesSection .hero-image1 img {
  width: 100%;
}
.hero-imagesSection .hero-image2 {
  width: 100%;
  position: relative;
  top: -150px;
}
.hero-imagesSection .hero-image2 img {
  width: 100%;
}
.hero-bg {
  background-image: url(./asset/images/h-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  border-radius: 40px;
  width: 95%;
  overflow: hidden;
}
/* mecdia query */

@media screen and (max-width: 600px) {
  .hero-section h2 {
    width: 30px !important;
    width: 100% !important;
    line-height: 50px;
  }
}
@media screen and (max-width: 500px) {
  .hero-section h2 {
    width: 20px !important;
    width: 100% !important;
    line-height: 50px;
  }
}
/* card section */
.card-section {
  padding-top: 40px;
}
.card-section button {
  background-color: #f3f4f5;
  text-transform: capitalize;
  border: none;
  padding: 8px 40px;
  border-radius: 50px;
}
.card-section .card-img {
  padding-top: 20px;
  width: 40%;
  margin: 0 auto;
}
.card-section .card-img img {
  width: 100%;
}
.card1 {
  background-color: #fceeea;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card1 .card-img {
  background-color: #ed8569;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* media query */
@media screen and (max-width: 500px) {
  .mt-xs-3 {
    margin-top: 20px;
  }
}
/* project-section */

.project-section {
  margin-top: 50px;
  background-image: url(./asset/images/Rectangle\ 3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
  overflow: hidden;
}
.project-section .project-content {
  padding-top: 80px;
}
.project-section .project-content h2 {
  margin: 0;
  width: 616px;
  height: 70px;
  top: 2217px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  padding-top: 30px;
}

.project-section .project-content p {
  overflow: hidden;
}
.project-content h4 {
  text-transform: capitalize;
}
.project-icon i {
  color: #ed8569;
  font-size: 24px;
}
.project-section .project-img {
  width: 100%;
  border: 8px solid white;
  border-radius: 56px;
  overflow: hidden;
}
.project-section .project-img img {
  width: 100%;
}
/* contact-section */
.contact-section {
  padding-top: 60px;
}
.contact-section h2 {
  text-transform: capitalize;
  text-align: center;
  font-weight: 800;
  font-size: 40px;
}
.contact-section a {
  text-decoration: none;
  color: black;
  padding-left: 20px;
}
.contact-section p {
  width: 71%;
  overflow: hidden;
}
.locatio-icon i {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 100%;
  background-color: #ed8569;
  color: white;
  font-size: 13px;
}
.contact-section h4 {
  text-transform: capitalize;
  font-size: 16px;
}
/* contact form */
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form input {
  width: 120%;
  background-color: #fdeeea;
}
.contact-form input::placeholder {
  text-align: left;
  text-transform: capitalize;
  color: black;
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  overflow: hidden;
}
.contact-form textarea {
  width: 120%;
  background-color: #fdeeea;
  height: 16vh;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}
.contact-form textarea::placeholder {
  text-align: left;
  text-transform: capitalize;
  color: black;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  padding-left: 10px;
}
.contact-form button {
  width: 120%;
  margin-top: 6px;
  background-color: #ed8569;
  border: none;
  color: white;
  text-transform: capitalize;
  padding: 12px 0;
  border-radius: 50px;
  overflow: hidden;
}
/* media query */
@media screen and (max-width: 600px) {
  .contact-form input {
    width: 100%;
  }
  .contact-form textarea {
    width: 100%;
  }
  .contact-form button {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .contact-section p {
    width: 100%;
    overflow: hidden;
  }
}
/* second last section */
.radium-content h3 {
  color: white;
  font-size: 50px;
  padding-top: 90px;
}
.radium-content p {
  width: 76%;
  padding-top: 20px;
  overflow: hidden;
}
.solsacn {
  background-color: #df96ae;
  width: 24%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 10px;
  position: relative;
  top: 115px;
  transform: rotate(10deg);
}
.solsacn h4 {
  font-size: 14px;
  color: white;
  overflow: hidden;
}
.solscan2 {
  background-color: #f0ad84;
  width: 14%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 10px;
  position: relative;
  top: 90px;
  transform: rotate(-5deg);
  margin: 0;
  right: 55px;
}
.solscan2 h5 {
  font-size: 8px;
  margin: 0;
  color: white;
  overflow: hidden;
}
.image-mbl {
  width: 25%;
  position: relative;
  bottom: 220px;
  left: 32px;
  overflow: hidden;
}
.image-mbl img {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .mbl {
    position: relative;
    left: 70px;
  }
  .solsacn {
    left: 70px;
 
  }
  .solscan2 {
    width: 14%;
    right: -10px;
    top: 80px;
  }
  .image-mbl{
    left: 94px;
  }
  .radium-content h3{
    font-size: 40px;
  }
  .radium-content p{
  width: 100%;
  }
}
/* footer-section */
.footer-section {
  padding-top: 70px;
}
.footer-section .footer-content p {
  padding-top: 10px;
  width: 80%;
}
